body,
html {
  margin: 0;
  padding: 0;

  height: 100vh;
  flex-direction: column; /* Stack items vertically */
  overflow-x: hidden;
}

.canvas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%; /* Two rows, each taking 50% of the container height */
}

canvas {
  border: 1px solid orange;
}

.canvas-intermediate{
  display: flex;
  flex-direction: column; /* Stack items vertically */

}
.button-container {
  position: relative;
}

#shapeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1; /* Ensure button is above canvas */
}
